.productos-container {
    display: flex;
    justify-content: space-between;
}
.producto-card {
   width: 300px;
   border-radius: 5px ;
   padding: 1rem;
}
.producto-card button {
    background-color: rgb(153, 198, 19);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 0.5rem 1rem ;
}
.producto-card button:hover {
    background-color: blue;
    color: #fff;
}
imgProducto {
    width: 150px;
}